#pop-py-pkgs-u11
.vscode/*
pop-py-pkgs-u11/pyyelp/env/*
pop-py-pkgs-u11/pyyelp/pyyelp/*
pop-py-pkgs-u11/PyText/Lib/*
pop-py-pkgs-u11/PyText/Scripts
pop-py-pkgs-u11/config.py
pop-py-pkgs-u11/PyText/__pycache__/config.cpython-310.pyc
